pkgbase = droidvnc-helper
	pkgdesc = Get/set DroidVNC settings.
	pkgver = 0.0.0.0.0.0.0.0.0.0.0.0.1
	pkgrel = 1
	url = https://github.com/themartiancompany/droidvnc-helper
	arch = any
	license = AGPL3
	checkdepends = shellcheck
	makedepends = make
	depends = bash
	depends = android-app-utils
	optdepends = android-remote-camera: uses this to fetch VNC port
	source = droidvnc-helper-d0e3f4049e781a575bcfdd19143f5b3f69d92d4d.zip::https://github.com/themartiancompany/droidvnc-helper/archive/d0e3f4049e781a575bcfdd19143f5b3f69d92d4d.zip
	validpgpkeys = 97E989E6CF1D2C7F7A41FF9F95684DBE23D6A3E9
	sha256sums = 584084c88065e87925b659762f1551d91ff75b58988ef787f39daecc055d70e5

pkgname = droidvnc-helper
